<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
</head>

<body class="body">

    <!-- <header style="background-color: rgb(150, 236, 255);">
        <ul>
            <a href="/upload">初始页</a>
            <a href="/show">轮廓展示</a>
        </ul>
    </header> -->

    {% block body %}{% endblock %}
    <!-- <footer style="background-color:rgb(150, 236, 255) ;">
       <br>
    </footer> -->
    <style>
        .body {
            margin-top: 0%;
            margin-bottom: 0%;
            /* margin-left: 0%; */
            background-color: rgb(233, 255, 254);
        }
    </style>

</body>

</html>