{% extends "template.html" %}

{% block title%}
Template_TEST
{% endblock %}

{% block body%}。



<!-- <h1>轮廓显示</h1>   -->

<table id="myTable"
    style="width:100%;height: 80%;border-collapse: collapse;border:1px solid #000000;border-right-color:#FF0000;">
    <tbody>
        <tr>
            <td style="width: 20%;height: 60%;">
                <!-- 左上调参 -->
                <div>
                    <form action="/upload" enctype='multipart/form-data' method='POST'>
                        <div>
                            <input type="file" id="file" name="file" style="margin-top:20px;" />
                            <input type="button" value="上传" class="button-new" style="margin-top:15px;"
                                onclick="upload()" />
                        </div>

                    </form>
                    <form method="POST" action="/show" name="sliderForm">
                        <label>轮廓图片选择</label>
                        <input type="range" min={{min}} max={{max}} value="{{sliderValue}}" step="1"
                            name="name_of_slider" id="name_of_slider" onchange="sliderGetImage()" />
                    </form>
                    <input type="button" value="查看当前图片列表" class="button-new" style="margin-top:15px;"
                        onclick="getImgList()" />
                </div>


            </td>
            <td rowspan="2">
                <!-- 右侧显示 -->
                <table id="imgListTable"></table>
                <img id="imageShowFram" width="100%" height="auto" src="data:image/bmp;base64,{{contourImageData}}"
                    style="text-align:center;vertical-align:middle">

            </td>
        </tr>
        <tr>
            <td>
                <a href="javascript:void(0);" id="btn" "><i class=" fa fa-table fa-fw"></i>
                    左下角</a>
            </td>
            <td></td>
        </tr>
    </tbody>
</table>
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script type="text/javascript">

    function sliderGetImage() {
        data = $('#name_of_slider').val()
        if (data == '') {
            return false;
        }
        var params = {}
        params.data = data
        var url = '/getContourImage'
        $.post(url, params, function (res) {
            document.getElementById('imageShowFram').style.display = "block";
            document.getElementById('imgListTable').style.display = 'none'

            $('#imageShowFram').attr('src', "data:image/bmp;base64," + res.contourImageData)
            $('#name_of_slider').attr('value', res.sliderValue)
                .attr('min', res.min)
                .attr('max', res.max)

        })
    }

    function upload() {
        var fileObj = document.getElementById("file").files[0]; // js 获取文件对象
        if (typeof (fileObj) == "undefined" || fileObj.size <= 0) {
            alert("请选择图片");
            return;
        }
        var file = new FormData();
        file.append("file", fileObj);
        $.ajax({
            url: '/uploadFile', /*接口域名地址*/
            type: 'post',
            data: file,
            // fileElementId: 'file',
            dataType: 'json',
            contentType: false,
            processData: false,
            success: function (res) {
                // alert("IT IS OK")
            }
        })
    }

    function getImgList() {

        var url = '/getImgList'
        $.post(url, null, function (res) {
            document.getElementById('imageShowFram').style.display = "none";
            document.getElementById('imgListTable').style.display = 'block'
            var trs = '<tr> <td>Contours</td><td>Images</td> </tr>';
            for (var i = 0; i < Object.keys(res.jpgList).length; i++) {
                var tr = '';
                tr += '<tr style="width:100%;height:35px;">';
                tr += '<td>' + '<img width="100%" height="auto" src="data:image/bmp;base64,' + res.bmpList[i][1]
                    + '" style="text-align:center;vertical-align:middle">' + '</td>';
                tr += '<td>' + '<img width="100%" height="auto" src="data:image/bmp;base64,' + res.jpgList[i][1]
                    + '" style="text-align:center;vertical-align:middle">' + '</td>';
                trs += tr
            }
            $("#imgListTable tbody").empty();
            $('#imgListTable').append(trs)

        })
    }

</script>


{% endblock %}