{% extends "template.html" %}

{% block title%}
Template_TEST
{% endblock %}

{% block body%}



<!-- <h1>轮廓显示</h1> -->


<div id="top" style="" class="top"></div>

<!-- 左上调参 -->
<div id="menu" style="float:left;" class="menu">
    <input type="file" id="file" name="file" style="margin-top:20px;" onchange="this.innerHTML=this.files[0].name;" />
    <input type="button" value="上传" class="button-new" style="margin-top:15px;" onclick="upload()" />
    <br>
    <br>
    <label>轮廓图片选择</label>
    <input type="range" min={{min}} max={{max}} value="{{sliderValue}}" step="1" name="name_of_slider"
        id="name_of_slider" onchange="sliderGetImage()" />
    <br>
    <br>
    <input type="button" value="查看当前图片列表" class="button-new" style="margin-top:15px;" onclick="getImgList()" />
    <br>
    <div>
        <!-- <a target="" title="" href=""> 数据图表化 </a> -->
        <br>
        <a onclick="drawFixContour()"> 图像拟合 </a>

    </div>
    <br>
    <div id="dataTable">
        <a onclick="drawRadiusPic()"> 数据图表化 </a>

    </div>

</div>


<!-- <div style="width:20vw;height:40vh;float:left;"></div> -->
<!-- 右侧展示内容 -->
<div id="content" style="background-color:#EEEEEE;float:left;">
    <table id="imgListTable"></table>
    <img id="imageShowFram" name="{{imgName}}" width="100%" height="auto"
        src="data:image/bmp;base64,{{contourImageData}}" style="text-align:center;vertical-align:middle"
        onclick="uploadCoordination(event,this.name)">
</div>

<!-- 底部 -->
<div id="footer" style="background-color:#FFA500;clear:both;text-align:center;">
    版权 © runoob.com</div>

<style>
    .body {
        margin-top: 0%;
        margin-bottom: 0%;
    }

    #top {
        /* position: fixed;
        top: 0px;
        left: 0px;
        width: 100vw;
        height: 15vh;
        background-color: #b8faff; */

    }

    #menu {
        position: sticky;
        top: 0vh;
        left: 0px;
        bottom: 0px;
        width: 20vw;
        height: 100vh;
        background-color: #e2ffed;
        z-index: 999;
    }

    #content {
        position: sticky;
        /* margin: auto; */
        top: 10vh;
        left: 20vw;
        bottom: 0px;
        width: 75vw;
        height: auto;
        background-color: #e6fcee;
        z-index: 999;
    }

    .demo2 {
        position: fixed;
        left: 0px;
        bottom: 0px;
        width: 100%;
        height: 50px;
        background-color: #4cedef;
        z-index: 999;
    }
</style>
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="{{url_for('static',filename='js/d3.js')}}"></script>
<script type="text/javascript">

    var leftTopP, leftBottomP, rightBottomP = []
    var isOk = false
    var fy1, fy2, fy3
    var spacing = 1
    function sliderGetImage() {
        data = $('#name_of_slider').val()
        if (data == '') {
            return false;
        }
        var params = {}
        params.data = data
        var url = '/getContourImage'
        $.post(url, params, function (res) {
            document.getElementById('imageShowFram').style.display = "block";
            document.getElementById('imgListTable').style.display = 'none'
            $('#imageShowFram').attr('src', "data:image/bmp;base64," + res.contourImageData)
            $('#imageShowFram').attr('name', res.imgName)
            updateSlider(res)

        })
    }

    function upload() {
        var fileObj = document.getElementById("file").files[0]; // js 获取文件对象
        if (typeof (fileObj) == "undefined" || fileObj.size <= 0) {
            alert("请选择图片");
            return;
        }
        var file = new FormData();
        file.append("file", fileObj);
        $.ajax({
            url: '/uploadFile', /*接口域名地址*/
            type: 'post',
            data: file,
            // fileElementId: 'file',
            dataType: 'json',
            contentType: false,
            processData: false,
            success: function (res) {
                updateSlider(res)
            },
            error: function (res) {
                updateSlider()
            }
        })
    }

    function getImgList() {

        var url = '/getImgList'
        $.post(url, null, function (res) {
            console.log(res);

            document.getElementById('imageShowFram').style.display = "none";
            document.getElementById('imgListTable').style.display = 'block'
            var trs = '<tr> <td style="text-align: center;">Contours</td><td style="text-align: center;">Images</td> </tr>';
            for (var i = 0; i < Object.keys(res.jpgList).length; i++) {
                var tr = '';
                tr += '<tr style="width:100%;height:35px;">';
                if (i < (res.bmpList.length))
                    tr += '<td>' + '<img width="100%" height="auto" src="data:image/bmp;base64,' + res.bmpList[i][1]
                        + '" style="text-align:center;vertical-align:middle">' + '</td>';
                tr += '<td>' + '<img width="100%" height="auto" src="data:image/bmp;base64,' + res.jpgList[i][1]
                    + '" style="text-align:center;vertical-align:middle">' + '</td>';
                if (i < (res.bmpList.length))
                    tr += ' <tr><td style="text-align: center;">' + res.bmpList[i][0] + '</td>'
                tr += + ' <td style="text-align: center;">' + res.jpgList[i][0] + '</td></tr>'
                trs += tr
            }
            $("#imgListTable tbody").empty();
            $('#imgListTable').append(trs)



        })
    }

    function uploadCoordination(e, name) {
        var imgId = "imageShowFram"
        var url = '/coordinationDispose'
        var image = document.getElementById(imgId);
        var imgHeight = window.getComputedStyle(image, null).height
        var imgWidth = window.getComputedStyle(image, null).width
        var xPage = (navigator.appName == 'Netscape') ? e.pageX : event.x + document.body.scrollLeft;
        var yPage = (navigator.appName == 'Netscape') ? e.pageY : event.y + document.body.scrollTop;
        imgEl = document.getElementById(imgId);
        img_x = locationLeft(imgEl);
        img_y = locationTop(imgEl);
        var xPos = xPage - img_x;
        var yPos = yPage - img_y;
        var data = { "x": xPos, "y": yPos, "imgHeight": imgHeight, "imgWidth": imgWidth, "name": name };
        $.post(url, data, function (res) {
            positionJudge(Math.round(res.actualWidth), Math.round(res.actualHeight));
            console.log(leftTopP, leftBottomP, rightBottomP)
        })

        // 找到元素的屏幕位置
        function locationLeft(element) {

            var offsetTotal = element.offsetLeft;
            var scrollTotal = 0; // element.scrollLeft but we dont want to deal with scrolling - already in page coords
            if (element.tagName != "BODY") {
                if (element.offsetParent != null)
                    return offsetTotal + scrollTotal + locationLeft(element.offsetParent);
            }
            return offsetTotal + scrollTotal;
        }

        // 找到元素的屏幕位置
        function locationTop(element) {
            var offsetTotal = element.offsetTop;
            var scrollTotal = 0; // element.scrollTop but we dont want to deal with scrolling - already in page coords
            if (element.tagName != "BODY") {
                if (element.offsetParent != null)
                    return offsetTotal + scrollTotal + locationTop(element.offsetParent);
            }
            return offsetTotal + scrollTotal;
        }
    }

    function updateSlider() {
        $.post('updateSlider', null, function success(res) {
            $('#name_of_slider').attr('min', res.min)
                .attr('max', res.max)
        })

    }

    function positionJudge(x, y) {
        {
            if (leftTopP == null) {
                leftTopP = [x, y]
                return 0
            }
            else if (leftBottomP == null) {
                leftBottomP = [x, y]
                return 0
            }
            else if (rightBottomP == null) {
                rightBottomP = [x, y]
                return 0
            }
        }
        {
            if (distance(leftTopP, [x, y]) < distance(leftBottomP, [x, y]) && distance(leftTopP, [x, y]) < distance(rightBottomP, [x, y])) {
                leftTopP = [x, y]
                return 1
            }
            else if (distance(leftBottomP, [x, y]) < distance(leftTopP, [x, y]) && distance(leftBottomP, [x, y]) < distance(rightBottomP, [x, y])) {
                leftBottomP = [x, y]
                return 1
            } else {
                rightBottomP = [x, y]
                return 1
            }
        }
        {
            if (leftBottomP[1] > leftTopP[1] && leftBottomP[1] > rightBottomP[1]) {
                var p = leftTopP
                leftTopP = leftBottomP
                leftBottomP = p
            }
            else if (rightBottomP[1] > leftBottomP[1] && rightBottomP[1] > leftTopP[1]) {
                var p = leftTopP
                leftTopP = rightBottomP
                rightBottomP = p
            }
            if (rightBottomP[0] < leftBottomP[0]) {
                var p = leftBottomP
                leftBottomP = rightBottomP
                rightBottomP = p
            }
        }
        function distance(p1, p2) {
            return Math.pow(p1[0] - p2[0], 2) + Math.pow(p1[1] - p2[1], 2)
        }
    }

    function drawFixContour() {
        if (leftTopP == null || leftBottomP == null || rightBottomP == null) {
            alert("请在画布上标记足够的点！")
            return 0
        }
        url = '/drawFixContour'
        data = {}
        data.fileName = document.getElementById('imageShowFram').name
        data.leftTopP = leftTopP
        data.leftBottomP = leftBottomP
        data.rightBottomP = rightBottomP
        console.log(data);
        $.post(url, data, function (res) {
            if (res.message == '') {
                $('#imageShowFram').attr('src', "data:image/bmp;base64," + res.contourImage)
                console.log(res.fy1, res.fy2, res.fy3);
                // var fy1 = res.fy1.split(" ")
                // fy1 = fy1.filter((x) => x !== "")
                // console.log(fy1);
                fy1 = res.fy1
                fy2 = res.fy2
                fy3 = res.fy3


            } else {
                alert(res.message)
                $('#imageShowFram').attr('src', "data:image/bmp;base64," + res.contourImage)
                console.log(res)
            }
        })
    }

    function dataExport() {
        url = '/dataExport'
        var data = {
            "fy1": fy1
        }
        data.fy1 = fy1
        data.fy2 = fy2
        data.fy3 = fy3
        $.post(url, data, function success(res) {
            console.log(res.rList);
            drawLineChart(res.rList)
        })

        function drawLineChart(data) {
            var svgHeight = 800
            var svgWidth = 800
            var xDomainMax = 10
            var xRangeMax = 250
            var yDomainMax = 10
            var yRangeMax = 250
            // var leftDataList = []
            var dataList = []
            for (var i = 0; i < data.length; i++) {
                var dataU = []
                dataU.push(spacing * (i + 1), data[i][0][0], data[i][1][0])
                dataList.push(dataU)
            }
            console.log(dataList);
            var dataTableG = d3.select('#dataTable').append('svg')
                .attr("width", 500)
                .attr("height", 500)
                .append('g')
            var xscale = d3.scaleLinear()
                .domain([0, xDomainMax])
                .range([0, xRangeMax])
            var xAixs = d3.axisBottom(xscale)
            var yscale = d3.scaleLinear()
                .domain([0, yDomainMax])
                .range([yRangeMax, 0]);//定义y轴的定义域和值域
            var yAixs = d3.axisLeft(yscale);//坐标轴的类型是底部
            dataTableG.append("g")
                .attr("transform", "translate(0," + yRangeMax + ")")
                .call(xAixs);//这一步就是把你设置好的x轴信息显示出来
            dataTableG.append("g")
                // .attr("transform", "translate(0,0)")
                .call(yAixs);//这一步就是把你设置好的y轴信息显示出来

            var line = d3.line()
                .x(function (d) { return xscale(d[0]) })
                .y(function (d) { return yscale(d[1]) })
                .curve(d3.curveLinear);
            dataTableG.append("path")
                .attr("d", line(dataList))
                .attr("stroke", "red")
                .attr("stroke-width", "1")
                .attr("fill", "none");//通过line得到数值，进行画线，其中画的是折线还是平滑的线是curve(）函数里面的参数决定的
            dataTableG.selectAll("circle")
                .data(dataList)
                .enter()
                .append("circle")
                .attr("cx", function (d) { return xscale(d[0]) })
                .attr("cy", function (d) { return yscale(d[1]) })
                .attr("r", "2")
                .attr("fill", "green");//得到点，并画出来

            // dataTableG.append()
        }
    }

    function drawRadiusPic() {
        url = '/drawRadiusPic'
        var data = {}
        data.fy1 = fy1
        data.fy2 = fy2
        data.fy3 = fy3
        data.leftTopP = leftTopP
        data.leftBottomP = leftBottomP
        data.rightBottomP = rightBottomP
        $.post(url, data, function success(res) {
            $('#imageShowFram').attr('src', "data:image/bmp;base64," + res.contourImage)
        })
    }
</script>


{% endblock %}